.fifth-section-header {
  padding-bottom: 75px;
}

.fifth-text-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fifth-text-item {
  padding: 15px 0;
  width: 31%;
  margin: 0 1%;
}

.fifth-text-header {
  padding-bottom: 15px;
}

@media (max-width: 750px) {
  .fifth-section-header {
    text-align: center;
    padding-bottom: 0px;
  }

  .fifth-text-item {
    padding: 15px 0;
    width: 48%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fifth-text-container {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .fifth-text-item {
    width: 98%;
  }
}
