.footer-container {
  display: flex;
  justify-content: center;
}

.footer-left-section {
  width: 35%;
}

.footer-left-logo {
  font-weight: 800;
  font-size: 2em;
}

.footer-left-logo-registered-symbol {
  font-size: 0.25em;
  top: -20px;
  left: 0px;
}

.footer-right-section {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-right-list-header {
  padding-bottom: 20px;
}

.footer-right-list {
  font-weight: 100;
}

.copyright {
  padding: 100px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-left-text,
.copyright-right-text {
  font-weight: 100;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-right-section {
    width: 100%;
    align-items: center;
  }

  .footer-left-section {
    width: unset;
  }

  .footer-right-list-container {
    width: unset;
  }

  .copyright {
    padding: 50px 0;
  }
}
